/* * {
	box-sizing:border-box;
}*/
body * {
/*	box-sizing:border-box; */
	font-family:Verdana,Geneva,sans-serif;
	font-size:12pt;
}

#form {
	width:84%;
	margin-left:8%
}

#infosec {
	width:84%;
	min-width:720px;
	margin-right:8%;
	margin-left:8%;
	padding-left:1em;
	padding-right:1em;
	border:2px solid black;
}

button {
	padding: 7px 25px;
	color:white;
	background-color:#008CBA;
	border-radius;6px;
}
.label {
	margin-right:2em;
	min-width:15.5ch;
}
.vflex {
	display:flex;
	flex-direction:column;
}
.hflex {
	display:flex;
	flex-direction:row;
	align-items:baseline;
}
.fullwidth {
	width:100%;
}
#vcField {
	width:54ch;
}
.dispField {
	min-width:20ch;
	min-height:2em;
	margin-right:2em;
}
#bcrow {
	margin:auto;
	width:140mm;
}
#barcode {
	min-width:70mm !important;
	max-width:105mm;
	width:105mm !important;
	min-height:10mm !important;
	max-height:12.5mm !important;
	margin-left:15mm;
	padding:0px 0px 5mm 0px;
}

#decodeBtn {
	margin-left:18.7ch;
	margin-bottom:1em;
}
#toggleBtn {
	margin-right:0px;
	margin-left:auto;

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a0a0a0;
  font-style:italic;
}
