#form { 
	width:84%;
	margin-left:8%
}

#infosec { /* 'Information section' */
	width:84%;
	/* Needs a minimum width
	 * so that the rather long
	 * data does not float outside
	 * of the box. */
	min-width:720px;
	margin-right:8%;
	margin-left:8%;
	padding-left:1em;
	padding-right:1em;
	border:2px solid black;
}
#vcField { 
	/* Let the field for the
	 * virtual bar code display
	 * all characters if possible */
	width:54ch;
}
.dispField { 
	/* Reasonable widths for
	 * the data fields */
	min-width:20ch;
	min-height:2em;
	margin-right:2em;
	flex-grow:2;
}
.label {
	flex-grow:1:
}
#bcrow {
	/* Barcode container*/
	margin:auto;
	width:140mm;
}
#barcode {
	/* width and height
	 * according to banking 
	 * specs. */
	min-width:70; 
	max-width:105mm;
	width:105mm !important;
	min-height:15mm ;
	max-height:17.5mm !important;
	margin-bottom:5mm;
}

/* Place the buttons according to assignment */
#decodeBtn { 
	margin-left:18.7ch;
	margin-bottom:1em;
}
#toggleBtn {
	margin-right:0px;
	margin-left:auto;

}
