body {
	margin:2em;
}
div {
	margin-top:1em;
}
#search { /* align search button with
	   * dropdown */
	margin-left:18.6ch;
	margin-top:1em;
}
#history { 
	margin-left:auto;
	margin-right:15%;
	margin-top:0px;
	border:1px solid black;
	padding-left:2em;
	padding-right:2em;
}
.hitem { /* History item */
	margin:0.3em;
	/*Smaller text than the rest
	 * of the elements */
	font-size:60%;
}
.hitem-header { /*History item heading */
	font-size:80%;
	border-bottom:1px solid black;
}
#history div { /* Reset margin to
                * reasonable value */
	margin-top:0.2em;
}	
.tableRow { /* Flexbox with items stretched */
	display:flex;
	flex-direction:row;
	align-items:stretch;
	border:1pt solid black;
	width:100%;
	margin:0px;
	padding:0px;
}
.tablecell { /*Table cells fills the row 
	      * by growing */
	margin:0px;
	flex-grow:1;
	padding:1em 1em 1em 1em;
	border-style:solid;
	border-width:0.5px;
}
.col1 { /* table column 1 */
	width:60%;
}
.col2 { /* table column 2 */
       width:20%;
}
.col3 { /* table column 3 */
	width:20%;
}

#coordTable { /* table container */
	width:62%;
	margin:0px auto;
	margin-top:2em;

}

#header { /* Table Header */
	background-color:#006a8d;
	color:#fafafa;
}
.error {
	border:5px solid red;
}
